<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button type="button" data-toggle="modal" data-target="#invModal" class="btn btn-primary btn-block">Add inventory item</button>
      <br>
      <div class="panel panel-danger">
        <div class="panel-heading text-center">
          Your custom foods
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-click="inventory.addCustom(item)" ng-repeat="item in inventory.customItems">
              {{ item.item_name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading text-center">
          Your saved foods
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-click="inventory.addSaved(item)" ng-repeat="item in inventory.savedItems">
              {{ item.item_name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in inventory.items" ng-click="inventory.item = item" data-toggle="modal" data-target="#qtyModal">
              <div class="row">
                <div class="col-md-10">
                  {{ item.item_name }}
                </div>
                <div class="col-md-2">
                  Qty: {{ item.qty }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="qtyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Edit item</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            {{ inventory.item.item_name }}
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" ng-model="inventory.item.qty">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="inventory.populateInventory()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="inventory.updateInventory()">Update</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="invModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Find item</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline text-center">
          <input type="text" class="form-control" ng-model="inventory.searchItem" placeholder="Search food">
          <button type="submit" ng-click="inventory.searchFoods()" class="btn btn-info">Search</button>
        </form>
        <br>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in inventory.add">
            <div class="row">
              <div class="col-md-8">
                {{ item.item_name }}
              </div>
              <div class="col-md-2">
                <input type="number" class="form-control" ng-model="inventory.servings" placeholder="Qty">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-success" ng-click="inventory.addItem(item)" data-dismiss="modal">Add</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
